.ddsmoothmenu {
    /*background: none repeat scroll 0 0 #414141;
    font: bold 12px Verdana;*/
    width: 100%;
}
.ddsmoothmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}
.ddsmoothmenu ul li {
    display: inline;
    float: left;
    position: relative;
    line-height: 12pt;
}
.ddsmoothmenu ul li a {
    /*background: none repeat scroll 0 0 #414141;
    border-right: 1px solid #777788;
    color: #2D2B2B;*/
    display: block;
    padding: 8px 10px;
    text-decoration: none;
}
* html .ddsmoothmenu ul li a {
    display: inline-block;
}
.ddsmoothmenu ul li a:link,
.ddsmoothmenu ul li a:visited {
    color: #057013;
}
.ddsmoothmenu ul li a.selected {
    /*background: none repeat scroll 0 0 black;
    color: white;*/
}
.ddsmoothmenu ul li a:hover {
    /*background: none repeat scroll 0 0 black;*/
    color: #36F;
}
.ddsmoothmenu ul li ul {
    display: none;
    left: 0;
    position: absolute;
    visibility: hidden;
}
.ddsmoothmenu ul li ul li {
    display: list-item;
    float: none;
}
.ddsmoothmenu ul li ul li ul {
    top: 0;
}
.ddsmoothmenu ul li ul li a {
    /*border-bottom: 1px solid gray;
    border-top-width: 0;
    font: 13px Verdana;*/
    margin: 0;
    padding: 5px;
    width: 160px;
}
* html .ddsmoothmenu {
    height: 1%;
}
.downarrowclass {
    position: absolute;
    right: 7px;
    top: 12px;
}
.rightarrowclass {
    position: absolute;
    right: 5px;
    top: 6px;
}
.ddshadow {
    background: none repeat scroll 0 0 silver;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.toplevelshadow {
    opacity: 0.8;
}